<mat-tab-group (selectedTabChange)="onTabClick($event)">
    <mat-tab label="7 j">
        <div class="chart-container">
            <figure id="chart-week"></figure>
        </div>
    </mat-tab>
    <mat-tab label="30 j">
        <div class="chart-container">
            <figure id="chart-month"></figure>
        </div>
    </mat-tab>
    <mat-tab label="90 j">
        <div class="chart-container">
            <figure id="chart-3month"></figure>
        </div>
    </mat-tab>
    <mat-tab label="365 j">
        <div class="chart-container">
            <figure id="chart-year"></figure>
        </div>
    </mat-tab>
</mat-tab-group>