.log-count {
    text-align: center;

    .label {
        font-size: 75%;
        color: #666;
    }

    .count {
        font-weight: bold;
        font-size: 420%;
        color: #009688;
        margin-top: 0.33rem;
    }
}