.time-since-last {
    text-align: center;

    .label{
        font-size: 75%;
        color: #666;
    }

    .time {
        font-weight: bold;
        font-size: 150%;
        color: #009688;
        line-height: 120%;
        margin-top: 0.33rem;
    }
}