.cell {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #E0F2F1;
}

.value,
.label {
    display: block;
    width: 100%;
    text-align: center;
    color: #009688;
}

.value {
    font-weight: bold;
}

.label {
    font-size: 75%;
    font-style: italic;
    color: #666;
}

.logs-total,
.average-logs-per-day {
    .value {
        font-size: 200%;
    }
}

.average-time-2-logs {
    .value {
        font-size: 150%;
    }
}

.shortest-diff,
.longest-diff{
    .value {
        font-size: 120%;
    }
}