.log-button-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    position: relative;

    .log-button {
        flex-grow: 1;
        text-align: center;

        img {
            width: 67%;
            margin: 0 auto;
            transition: width 0.1s ease;
        }
    }

    &.clicked {
        background-image: radial-gradient(circle, #B3E0DB 25%, #fafafa 75%);
        transition: background-color 0.2s;

        .log-button {
            img {
                width: 60%;
                transition: width 0.1s;
            }
        }
    }

    &.shake {
        .log-button {
            img {
                animation: shake 0.3s ease-in-out 0s 1;
            }
        }
    }

    @keyframes shake {
        0% {margin-left: 0rem;}
        20% {margin-left: 1rem;}
        40% {margin-left: -1rem;}
        60% {margin-left: 1.2rem;}
        80% {margin-left: -1.2rem;}
        100% {margin-left: 0rem;}
    }
}