.log-button-container {
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #E0F2F1;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid #009688;

    img {
        width: 33%;
        margin: 0 auto;
        transition: width 0.1s ease;
    }

    &.clicked {
        background-color: #B3E0DB;
        transition: background-color 0.2s;

        img {
            width: 30%;
            transition: width 0.1s;
        }
    }
}