.next-log {
    text-align: center;
    color: #f44336;

    .time {
        font-weight: bold;
        font-size: 200%;
        line-height: 120%;
        margin-top: 0.33rem;
    }

    &.go {
        color: #009688;
    }

    .no-next-time {
        font-size: 3rem;
        height: 52px;
        width: 52px;
    }
}