<div *ngIf="logs.length > 0">
  <mat-list>
    <mat-list-item *ngFor="let log of logs">
      <div class="list-item">
        <span class="date">
          <mat-icon class="info-icon">smoking_rooms</mat-icon>
          {{ formatDate(log.datetime) }}
        </span>
        <span class="time">
          <mat-icon class="info-icon">schedule</mat-icon>
          {{ formatTime(log.datetime) }}
        </span>
        <span class="button-row">
          <button mat-icon-button color="primary" (click)="openEditDialog(log)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="openDeleteDialog(log)">
            <mat-icon>clear</mat-icon>
          </button>
        </span>
      </div>
    </mat-list-item>
  </mat-list>
</div>

<div *ngIf="logs.length === 0">
  <mat-list>
    <div class="list-item">
      <mat-list-item>Aucun enregistrement n'a été trouvé.</mat-list-item>
    </div>
  </mat-list>
</div>