.list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #999;

    .info-icon {
        display: inline;
        font-size: 1.2rem;
        color: #999;
        float: left;
        margin-top: 0.15rem;
    }

    .date {
        width: 50%;
        .info-icon{
            margin-right: 0.67rem;
        }
    }

    .time{
        width: 25%;
    }
}