.mat-accordion .mat-expansion-panel {
    border-radius: inherit;
}

.mat-accordion .mat-expansion-panel-header.month,
.mat-expansion-panel:not(.mat-expanded)>.mat-expansion-panel-header:not([aria-disabled=true]):hover {
    background-color: #00695C;

    .mat-expansion-panel-header-title {
        color: #ffffff;
    }
}

.mat-accordion .mat-expansion-panel-header.day,
.mat-expansion-panel:not(.mat-expanded)>.mat-expansion-panel-header.day:not([aria-disabled=true]):hover {
    background-color: #B2DFDB;

    .mat-expansion-panel-header-title {
        color: #000000;
    }
}

.month-count,
.day-count {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-left: 1rem;
    width: 3rem;

    .month-count-value,
    .day-count-value,
    .info-icon {
        flex-grow: 1;
        color: #fff;
    }

    .info-icon {
        font-size: 1rem;
    }
}

.day-count {

    .day-count-value,
    .info-icon {
        color: #000000;
    }
}