.list-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #999;

    .info-icon {
        display: inline;
        font-size: 1rem;
        height: 18px;
        width: 18px;
    }

    .date {
        width: 50%;
        .info-icon{
            margin-right: 0.67rem;
        }
    }

    .time{
        width: 25%;
    }
}